@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');



a {
    text-decoration: none;
    color: white !important;
    transition: all 0.3s;
}
ul{
    list-style: none;
}
ul li{
    margin-left: 1vh;
}

a:hover {
    font-size: 1.3rem;
    transition: all 0.4s;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.toggle {
    display: inline-block !important;
    z-index: 10;
    transition: all 1s !important;
    background: #0d0d0d !important;
}

#resume-button {
    padding: 1.5vh;
    display: inline-block;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.6, 1.91) 0s !important;
}

#resume-button:hover {
    border: 3px solid !important;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.6, 1.91) 0s !important;
    border-radius: 5vh;
}


html {
    font-family: 'Quicksand';
}

body {
    margin: 0;
    padding: 0;
    background: black;
}

.primary {
    background: #196572 !important;
    transition: all 500ms;
}

.secondary {
    background: #b47400 !important;
    transition: all 500ms;
}

@media (min-width: 768px) {
    .title{
        font-size: 4rem !important;
    }

    .intro-text{
        font-size: 1.5em;
        line-height: 6vh;
    }
    .lottie{
        margin-left: 7vh;
        margin-top: 6vh;
        height: 600px;
        width: 600px;
    }
}

@media (max-width: 576px) {
    ul li{
        margin-left:3vh ;
        margin-right:3vh ;
    }
    .title{
        margin-top: 68vh ;
    }
}


@media (min-width: 992px) {
    .title{
        margin-top:20vh ;
        font-size: 4rem !important;
    }
    .intro-text{
        font-size: 1.5em;
        line-height: 6vh;
    }
    .lottie{
        height: 600px;
        width: 600px;
        margin-left: 9vh;
    }

}
.white-background{
    background: white !important;
    color: white !important;
}
.dark{
    background: black !important;
}
.icon-hover{
    transition: all 300ms;
    width: 35px;
    height: 35px;
}
.icon-hover:hover{
    width: 50px;
    height: 50px;
}
.invert{
    filter: invert(1);
}




